<form action="/personalrecipe/submitrecipe/" enctype="multipart/form-data" id="SubmitRecipeForm" method="post" onsubmit="return validateSubmit(SubmitRecipeForm);" class="ng-pristine ng-valid">        <section class="create-recipe" data-ng-init="init('')">
  <input data-val="true" data-val-number="The field RecipeImageId must be a number." data-val-required="The RecipeImageId field is required." id="RecipeImageId" name="RecipeImageId" type="hidden" value="0" autocomplete="off">
  <ul class="create-recipe__info">
    <li>
      <span class="recipeErrorMessage" id="recipeTitle" style="display: none;">Oops — don’t forget a title!</span>
      <label for="Recipe_title">Recipe title</label>
      <input class="input-wrap" id="Title" name="Title" type="text" value="">
    </li>
    <li>
      <span class="recipeErrorMessage" id="recipeDesc" style="display: none;">Please add a quick description!</span>
      <label for="Description">Description</label>
      <textarea class="input-wrap description" cols="20" id="Description" name="Description" rows="2"></textarea>
    </li>
    <li>
      <span class="recipeErrorMessage" id="recipeIngredients" style="display: none;">Oops — please add the ingredients!</span>
      <label for="Ingredients">Ingredients</label>
      <textarea class="input-wrap" cols="20" id="Ingredients" name="Ingredients" placeholder="Put each ingredient on its own line." rows="2"></textarea>
    </li>
    <li>
      <span class="recipeErrorMessage" id="recipeDirections" style="display: none;">Oops — don’t forget the directions!</span>
      <label for="Directions">Directions</label>
      <textarea class="input-wrap" cols="20" id="Directions" name="Directions" placeholder="Put each step on its own line." rows="2"></textarea>
    </li>
  </ul>

  <section class="create-recipe__left-rail">
    <div>
      <span class="recipeErrorMessage" id="recipePhotoUploadFile" style="display: none;">The height or width of the photo you uploaded is too small. Photo size must be no smaller than 960 pixels x 960 pixels.</span>
      <div class="add-photo">
        <label class="icon--picture gray">
          <input type="file" name="PhotoUploadFile" id="photoUpload" onchange="validateImage(SubmitRecipeForm)">
        </label>
        <span class="note_for_user"> (no smaller than 960 X 960)</span>
      </div>
    </div>
    <ul class="create-recipe__info stats create-recipe__info__fields">
      <li class="validation_error_lable">
        <span class="recipeErrorMessage" id="recipePrepTime" style="display: none;">Preparation time is required.</span>
        <label for="Prep_time">Prep time</label>
        <input class="input-wrap" id="PrepTime" name="PrepTime" type="text" value="">
      </li>
      <li class="validation_error_lable">
        <span class="recipeErrorMessage" id="recipeCookTime" style="display: none;">Cooking Time is required.</span>
        <label for="Cook_time">Cook time</label>
        <input class="input-wrap" id="CookTime" name="CookTime" type="text" value="">
      </li>
      <li>
        <label for="Ready_in">Ready in</label> <span class="italic">(Optional)</span>
        <input class="input-wrap" id="ReadyTime" name="ReadyTime" type="text" value="">
      </li>
      <li class="number_of_servings">
        <span class="recipeErrorMessage" id="recipeServings" style="display: none;">The servings field is required.</span>
        <span class="recipeErrorMessage number_validation_serving" id="recipeServingsCount" style="display: none;">Enter a number between 1 and 300.</span>
        <label for="Number_of_servings">Number of servings</label>
        <input class="input-wrap" id="Servings" name="Servings" type="text" value="">
      </li>
      <li>
        <label for="Recipe_yield">Recipe yield</label> <span class="italic">(Optional)</span>
        <input class="input-wrap" id="Yield" name="Yield" type="text" value="">
      </li>
    </ul>
  </section>

  <ul class="create-recipe__priv-pub-ka">
    <li>
      <label class="radio-lbl">
        <input data-val="true" data-val-required="The RecipeAccessSpecifier field is required." id="RecipeAccessSpecifier" name="RecipeAccessSpecifier" type="radio" value="Private"><span></span>
        <span class="radio-lbl__option">Private Recipe <span>Only I can see this</span></span>
      </label>
      <label class="radio-lbl">
        <input id="RecipeAccessSpecifier" name="RecipeAccessSpecifier" type="radio" value="Public"><span></span>
        <span class="radio-lbl__option">Public recipe <span>Anyone who sees my profile can see this.</span></span>
      </label>
      <label class="radio-lbl">
        <input checked="checked" id="RecipeAccessSpecifier" name="RecipeAccessSpecifier" type="radio" value="PublicAndSubmittedForKA"><span></span>
        <span class="radio-lbl__option">Public and submit this as a <a href="javascript:void(0);" class="radio-lbl__option__link" ng-click="toggleKADetails()" target="_self"> Kitchen Approved </a> recipe. By choosing yes, you agree to the <a href="http://www.meredith.com/legal/terms" class="radio-lbl__option__link" target="_self">Terms &amp; Conditions</a>.</span>
      </label>
    </li>
    <li>
      <div class="ka-details ng-hide" ng-show="showKADetails">
        <h3>What is a Kitchen Approved Recipe?</h3>
        <p>These are recipes that have gone through Allrecipes editorial review before being published.</p>
        <ul class="ka-details">
          <li>Editorial review ensures reliability of each recipe</li>
          <li>All members have access to these recipes whereas other types can be kept private.</li>
          <li>Nutrition, scaling, and other tools are exclusive to Kitchen Approved recipes.</li>
        </ul>
        <p>In short, a Kitchen Approved Recipe includes all the bells and whistles you've come to depend on in an Allrecipes recipe.</p>

      </div>



    </li>
    <li>
      <div>
        <input type="submit" name="SubmitRecipe" class="btns-two-small btn-gold" ng-click="personalrecipeopencollection()" value="Save">
        <a href="/cook/my/" class="btns-two-small" target="_self">Cancel</a>
      </div>
    </li>
  </ul>

</section>
</form>
