<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Directive Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Component Directive</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="strucDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Structural Directive
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/#/structural/ngForDemo">ngFor</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/#/structural/ngIfDemo">ngIf</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/#/structural/ngSwitchDemo">ngSwitch</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="attDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Attribute Directive
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/#/attribute/ngModelDemo">ngModel</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/#/attribute/ngClassDemo">ngClass</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/#/attribute/ngStyleDemo">ngStyle</a>
        </div>
      </li>

    </ul>
  </div>
</nav>
